<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="com.github.timurstrekalov.saga.core.server" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>